
<h3>Change your profile picture</h3>

<%= simple_form_for @profile, url: profile_path do |f| %>
  <%= f.input :profile_picture %>
  <%= f.input :profile_picture_cache, as: :hidden %>
  <%= f.submit %>


<% end %>
