<h1>Results of your search:</h1>

<div class="container">
  <div class="row">
  <% @profiles.each do |profile| %>
    <div class="col-xs-6">
      <%= render "card", profile: profile %>

  <% end %>

    </div>


  <div class="col-xs-6" id="map" style="width: 50%; height: 300px;"></div>

    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $(document).ready(function() {
          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function() {
            markers = handler.addMarkers(<%= raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            if (markers.length == 0) {
              handler.getMap().setZoom(2);
            } else if (markers.length == 1) {
              handler.getMap().setZoom(14);
            }
          });
        });
      <% end %>
    <% end %>

  </div>

  </div>
</div>




