<h1>Reviews#new</h1>
<p>Find me in app/views/reviews/new.html.erb</p>


<%= simple_form_for [@profile, @review], url: profile_booking_reviews_path do |f| %>

  <%= f.text_field :content %>
  <%= f.text_field :rating %>
  <%= f.submit "add a review", class: "btn btn-primary" %>
<% end %>

